/* colors
 #49c5b6
#2779a7
black
*/

@font-face {
    font-family: 'Inknut_Antiqua';
    src: url('./lib/Inknut_Antiqua/InknutAntiqua-Light.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
    font-family: Inknut_Antiqua, serif;
    line-height: 2;
    overflow-y: scroll;
    /* scroll-padding: 7rem; */
}

* {
    text-align: center;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

#nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1%;
    width: 98%;
}

.box-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
}

.box-container img {
    max-height: 80px;
}

.react-activity-calendar img {
    width: 90%;
    height: unset;
}

#github-stuff {
    margin-top: 2%;
    display: flex;
    justify-content: space-evenly;
}

#github-stuff img {
    height: 200px;
}

#background {
    background-color: #0f0f6a2b;
    /* 
    background-image: linear-gradient(109deg, #007bff8a 0%, rgb(55, 182, 255) 100%);
    width: 100%;
    padding: 1%;
    position: fixed;
    z-index: 2;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px; */
    backdrop-filter: url('#glass');
    position: fixed;
    top: 0px;
    padding: 10px;
    width: 100%;
    z-index: 100;
    display: grid;
    /* color: white; */
    box-shadow: 0px 10px 15px 10px rgb(0 0 0 / 5%);
    text-shadow:
        .04em .06em .08em #0008,
        .1em .14em .16em #0006;

}

#home {
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: space-evenly;
    z-index: 1;
    background-color: #1b1bd4;
    background-image: linear-gradient(109deg, #007bff8a 0%, #4fbeff 100%);
}

#home h1 {
    font-size: 7vw;
    color: white;
}

#home h2 {
    font-size: 4vw;
    color: white;
}

#home button {
    padding: 1% 2.5%;
    font-size: large;
    font-weight: 530;
}

#user-detail-intro p {
    font-size: large;
    text-align: justify;
}

.heading {
    padding: 2%;
}

.skills-card {
    margin: 5%;
}

#projects>div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#projects h2 {
    padding: 0%;
}

#projects div {
    margin: 2%;
    padding: 1%;
    max-width: 100%;
}

#projects button {
    margin-left: 5px;
    margin-right: 5px;
}

.project-card img {
    max-width: 100%;
}

#nav-menu a {
    text-decoration: none;
    font-size: large;
    padding: none;
    color: white;
    font-weight: 400;
}

#about {
    margin-top: 2%;
    width: 80%;
    padding-left: 10%;
    margin-bottom: 2%;
}

h2 {
    font-size: 2em;
}

#about img {
    max-width: 25%;
    border-radius: 50%;
    padding: 1%;
}

#contact {
    margin-top: 2%;
    padding-bottom: 4%;
    background-color: #1b1bd4;
    background-image: linear-gradient(109deg, #007bff8a 0%, #4fbeff 100%);
    color: white;
    font-size: 1em;
}

#contact h2 {
    color: white;
}

.box-container {
    margin-bottom: 1%;
}

#ham {
    display: none;
}

.project-card a {
    text-decoration: unset;
    color: unset;
}

#projecth {
    margin-top: 4%;
}

.project-tech-stack {
    font-weight: 600;
    font-size: medium;
}

@media (max-width:1400px) {
    #github-stuff {
        flex-direction: column;
    }

    #github-stuff img {
        width: 90%;
        margin: 1.5% 5%;
        /* height: unset; */
    }
}

@media (max-width:800px) {
    #projects>div {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    #nav-menu a {
        font-size: 16px;
    }
}

@media (max-width:850px) and (min-width:371px) {
    .box-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
    }

    .box-container div:nth-last-child(1) {
        display: none;
    }
}

@media (max-width:370px) {
    .box-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
    }
    #about p{
        font-size: medium;
    }
    #home h2{
        font-size: larger;
    }
}

@media (max-width:600px) {
    #ham {
        display: unset;
        color: white;
        position: absolute;
        top: 10px;
        left: 20px;
        font-size: 25px;
    }

    #nav-menu {
        flex-direction: column;
        align-items: center;

    }

    #nav-menu a,
    #nav-menu button {
        display: none;
        font-size: large;
    }

    #nav-menu a.active,
    #nav-menu button.active {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #nav-menu {
        padding-top: 35px;
    }

    #home h1 {
        padding-top: 10%;
    }

}

button a {
    text-decoration: none;
    color: white
}

button {
    overflow: unset;
    text-decoration: none;
    align-items: center;
    background-color: #3876fb;
    background-image: linear-gradient(30deg, #007bff60 0%, rgb(55, 182, 255) 100%);
    background-position: 0 0;
    border: 2px solid #0081dd;
    border-radius: 11px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    line-height: 33.4929px;
    list-style: outside url(https://www.smashingmagazine.com/images/bullet.svg) none;
    padding: 2px 16px;
    text-align: left;
    text-decoration: none;
    text-shadow: none;
    text-underline-offset: 1px;
    transition: border .2s ease-in-out, box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    word-break: break-word;
    display: inline-flex;
    gap: 5px;
    align-items: center;
}

button:active,
button:hover,
button:focus {
    outline: 0;
}


button:active {
    background-color: #1472ff;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
    color: #FFFFFF;
}

button:hover {
    background-color: #31baf4;
    border-color: #2b7ffd;
}

button:active:hover,
button:focus:hover,
button:focus {
    background-color: #31baf4;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
    color: #FFFFFF;
}

.nav-link{
    transition: all 0.3s ease-in-out;
    position: relative;
    text-decoration: none;
    display: inline-block;
    margin-bottom: -2px;
}

.nav-link:hover {
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.121);
}


.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: currentColor;
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
}

.project-card img {
    transition: all 0.3s ease-in-out !important;
}

.project-card img:hover {
    max-width: 104%;
    margin-left: -2%;
}

i {
    overflow: hidden;
}